@import url(//brick.freetls.fastly.net/Anonymous+Pro:400,700);

body {
  color: #333;
  margin: 50px 75px;
}

table {
  font: 18px 'Anonymous Pro', 'Courier New', monospace;
  border-collapse: collapse;
  margin: 40px 0;
}

th {
  text-transform: uppercase;
  text-align: left;
 }

td {
  border-bottom: 1px dotted #ccc;
  padding: 5px 0;
  text-align: left;
}

.team { width: 25ch; }
.haveplayed .team { width: 18ch; }
.numeric { text-align: right; }

.score { width: 6ch; }
.mov, .prd, .err { width: 8ch; }

.rating { width: 10ch; }

/** index **/
.wrapper {
  display: flex;
}

.wrapper .ratings {
  margin-right: 75px;
}

.wrapper .predictions {
}

/** Add a rank to the ratings */
body {
  counter-reset: rank;
}

td.rank::before {
  counter-increment: rank;
  content: counter(rank);
}

td.rank {
  padding: 0 10px;
  font-size: 13px;
  width: 5ch;
}

.rank {
  text-align: center;
}
