{{ define "title" }}Baseline Model{{ end }}

{{ define "header" }}<h1>Baseline Model</h1>{{ end }}

{{ define "main" }}
<div class=wrapper>

<div class=ratings>
{{ range first 1 (where .Pages "Section" "ratings") }}
<h2>Ratings as of {{ .PubDate.Format "Jan 02, 2006" }}</h2>
<p>{{ partial "stats.html" . }}
{{ .Content }}
{{ end }}
</div>

<div class=predictions>
{{ range first 1 (where (where .Pages "Section" "predictions").Reverse ".Params.haveplayed" nil) }}
<h2>Predictions for {{ .PubDate.Format "Jan 02, 2006" }}</h2>
<p>Total MAE: {{ .Params.TotalMAE }} | Total MSE: {{ .Params.TotalMSE }}
{{ .Content }}
{{ end }}
</div>

</div>
{{ end }}
